<!DOCTYPE html>
<html>
  <head>
    <style>
      /* Reset de estilos básicos */
body, h1, p {
    margin: 0;
    padding: 0;
  }
  
  /* Estilos para el cuerpo de la página */
  body {
    font-family: Arial, sans-serif;
    background-color: #0f0911;
    color: #333;
    line-height: 1.6;
    padding: 20px;
  }
  
  /* Estilos para el encabezado h1 */
  h1 {
    font-size: 2em;
    color: #c1f505;
    margin-bottom: 20px;
  }
  
  /* Estilos para los párrafos */
  p {
    font-size: 1em;
    margin-bottom: 15px;
  }
  
  /* Estilos para enlaces */
  a {
    color: #007bff;
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: underline;
  }
  
    </style>
    <meta charset="utf-8" />
    <title>App</title>
  </head>
  <body>
    <div id="image-container">
        <img src="https://ap-cdn.sfo3.cdn.digitaloceanspaces.com/uploads/2023/06/kimetsu-no-yaiba-temporada-4-hashira-training-arc-1.jpg" alt="Gutts">
    </div>
    <h1>examen </h1>
  </body>
</html>
