<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>App</title>
    <style>
     /* Reset de estilos básicos */
body, h1, p {
  margin: 0;
  padding: 0;
}

/* Estilos para el cuerpo de la página */
body {
  font-family: Arial, sans-serif;
  background-color: #6b0286;
  color: #333;
  line-height: 1.6;
  padding: 20px;
}

/* Estilos para el encabezado h1 */
h1 {
  font-size: 2em;
  color: #007bff;
  margin-bottom: 20px;
}

/* Estilos para los párrafos */
p {
  font-size: 1em;
  margin-bottom: 15px;
}

/* Estilos para enlaces */
a {
  color: #007bff;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

    </style>
  </head>
  <body>
    {{ message }}
    
  </body>
</html>
